body {
    background-color: rgb(159, 250, 212);
}

  /* .chatbot-window-select {
    z-index: 10;
  } */

.chatbot-box {  
    position: absolute;
    /* max-width: 1400px;
	min-width: 400px;
    max-height: 1600px;
	min-height: 600px; */
    width: 320px;
    height: 470px;
    bottom: 0;
    right: 0;
    border-radius: 20px;
    background-color: #cecece;
    box-shadow: 0 0 12px rgb(0 0 0 / 60%);
    background-size: cover;
}  

.chatbot-box-header {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
}

.chatbot-box-header-wrapper {
    position: absolute;
    width: 100%;
    padding-top: 7px;
    box-shadow: 0 0 12px rgb(0 0 0 / 60%);
    background: rgb(248, 41, 41);
    border-radius: 10px 10px 0px 0px;
}

.chatbot-box-description {
    display: inline-block;
    padding-left: 58px;
    padding-bottom: 8px;
}

.chatbot--bot--name {
    font-weight: bold;
    color: #ffffff;
    margin: 1px;
    font-size: 17px;
    padding-left: 1px;
    padding-bottom: 8px;
}

.chatbot--bot--descp{
    display: block;
    color: #ffffff;
    font-size: 9px;
    padding-left: 1px;
    padding-bottom: 1px;
}

.chatbot-box-options {
    display: inline-block;
    padding: 10px;;
}

.chatbot-chat-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgb(159, 250, 212);   
}

.message-outer-input-box {
    background: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    
}


.message-input-box {
    box-sizing: border-box;
    padding: 8px 64px 8px 16px;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}
 
.message-placeholder-input {
    width: 100%;
    padding: 8px 50px 8px 16px;
    font: inherit;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid #fff;
    color: #000000;
    background: transparent;
    outline: 0;
} 

.test-messages-box {
    /* height: 480;
    width: 100%;
    overflow: auto;
    background-color: white; */
    height: 50px;
    bottom: 320px;
    position: absolute;
    width: 85%;
    border: 1px solid;
    background-color: #f1f1f1;
    border-radius: 6px; 
    padding: 15px;
    margin: 5px;
}

.bot--messages--box {
    border: 1px solid;
    background-color: #f1f1f1;
    border-radius: 6px; 
    padding: 1px;
    margin: 5px 0;
}

.bot--messages1--box2 {
    background-color: #f1f1f1;
    font-size: 12px; 
    padding-top: 6px;
    padding-left: 10px;
}
